In [14]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import *
from sklearn.metrics import *
from sklearn.model_selection import train_test_split
from tensorflow import keras
from sklearn.neural_network import MLPClassifier

In [3]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

   RowNumber  CustomerId   Surname  CreditScore  ... HasCrCard IsActiveMember  EstimatedSalary  Exited
0          1    15634602  Hargrave          619  ...         1              1        101348.88       1
1          2    15647311      Hill          608  ...         0              1        112542.58       0
2          3    15619304      Onio          502  ...         1              0        113931.57       1
3          4    15701354      Boni          699  ...         0              0         93826.63       0
4          5    15737888  Mitchell          850  ...         1              1         79084.10       0

[5 rows x 14 columns]

In [4]:
label = LabelEncoder()
df['Geography'] = label.fit_transform(df['Geography'])
df['Gender'] = label.fit_transform(df['Gender'])
df.head()

   RowNumber  CustomerId   Surname  CreditScore  ...  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          1    15634602  Hargrave          619  ...          1               1        101348.88       1
1          2    15647311      Hill          608  ...          0               1        112542.58       0
2          3    15619304      Onio          502  ...          1               0        113931.57       1
3          4    15701354      Boni          699  ...          0               0         93826.63       0
4          5    15737888  Mitchell          850  ...          1               1         79084.10       0

[5 rows x 14 columns]

In [8]:
x = df.drop(['RowNumber', 'CustomerId', 'Surname', 'Exited'], axis=1)
y = df['Exited']

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=True, stratify=y)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((8000, 10), (2000, 10), (8000,), (2000,))

In [16]:
model = MLPClassifier(random_state=1, max_iter=300)

In [19]:
model.fit(x_train, y_train)

MLPClassifier(max_iter=300, random_state=1)

In [20]:
y_pred = model.predict(x_test)

In [23]:
ac = accuracy_score(y_test, y_pred)
print(ac*100)

79.65